<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda - Animal</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="index.html"><img src="logo.png" alt="Logo"></a></li>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="produtores.html">Produtores</a></li>
            <li><a href="ajuda.html">Ajuda Animal</a></li>
            <li><button>Entrar</button></li>
            <li><button>Mensagens</button></li>
            <li><button>Carrinho</button></li>
        </ul>
    </div>

    <div class="relatar-problema">
        <h2>Ajuda com Animais</h2>
        <p>Uma comunidade de apoio onde produtores podem compartilhar problemas com seus animais e receber orientação de outros produtores experientes e veterinários.</p>
        <button>Relatar um Problema</button>
    </div>

    <div class="grade">


        <div>
            
        </div>
    </div>

</body>
</html>